body {
  text-align: center;
  background-color: #282c34;
  color: white;
  list-style-type: none;
}

.items {
  color: black;
  font-size: 17px;
}
li {
  padding: 0;
  margin: 0;
}
.column {
  display: flex;
  justify-content: center;
}
.row {
  display: flex;
  justify-content: center;
}

.card {
  background-color: rgb(197, 102, 65);
}
.container-cards {
  background-color: cornsilk;
  padding: 10px;
  min-height: 360px;
  margin-top: 75px;
}
.card-info {
  position: absolute;
  top: 10px;
  left: 400px;
  right: 0px;
}
.buttons-pages {
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box {
  border-radius: 20px;
  border: solid;
  left: 450px;
  min-height: 120px;
  padding: 8px;
  position: absolute;
  right: 0px;
  top: 5px;
  max-width: 270px;
}
ul {
  padding: 0;
}
