body {
  text-align: center;
  background-color: #282c34;
  color: white;
  list-style-type: none;
}

.items {
  color: black;
  font-size: 17px;
}
li {
  padding: 0;
  margin: 0;
}
.column {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.row {
  display: flex;
  justify-content: center;
}

.card {
  background-color: rgba(31, 156, 98, 0.493);
}
.container-cards {
  background-color: cornsilk;
  padding: 10px;
  min-height: 360px;
  margin-top: 75px;
}
.card-info {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.box {
  border-radius: 20px;
  border: solid;
  left: 450px;
  min-height: 120px;
  padding: 8px;
  max-width: 270px;
}
ul {
  padding: 0;
}

.name-card {
  font-size: small;
}
