body {
  text-align: center;
  background-color: #282c34;
  color: white;
  list-style-type: none;
}

.items {
  color: black;
  font-size: 17px;
}
li {
  padding: 0;
  margin: 0;
}
.column {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.row {
  margin-left: 50px;
  justify-content: center;
}

.card {
  padding: 5px;
  background-color: tomato;
}
.card-info {
  position: absolute;
  top: 10px;
  left: 400px;
  right: 0px;
}
.box {
  border-radius: 10px;
  border: solid;
  left: 450px;
  min-height: 120px;
  padding: 8px;
  position: absolute;
  right: 0px;
  top: 5px;
  max-width: 270px;
}
ul {
  padding: 0;
}
